
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav-active {
    color: #f97316;
    background-color: #fff7ed;
    border-right: 3px solid #f97316;
}

.tab-active {
    background-color: #f97316;
    color: white;
}
.tab-inactive {
    background-color: #f3f4f6;
    color: #374151;
}